@font-face {
    font-family: "abrilfatface";
    src: url("fonts/abrilfatface-regular-webfont.woff2") format("woff2"),
         url("fonts/abrilfatface-regular-webfont.woff") format("woff");
         font-weight: normal;
         font-style: normal;
}

.left {
    background-image: url("img/background.jpg");
    width: 30vw;
    background-size: cover;
    
}

h1 {
    font-family: "abrilfatface";
    color: white;
    font-size: 3vw;
}

.odin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    margin-top: 150px;
}

.photo-by {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1vw;
    margin-top: 28vw;
}

.logo {
    width: 5vw;
    height: auto;
}

body {
    padding: 0;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.right {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.first-section {
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1.5vw;
    flex-direction: column;
    background-color: rgba(251, 251, 251, 0.83);
    font-family: sans-serif;
    font-weight: bold;

}
.first-text {
    margin-left: 50px;
    margin-top: 50px;
}
.second-text {
    margin-top: 20px;
    margin-left: 50px;
}

.second-section {
    height: 33vh;
    display: flex;
    flex-direction: column;

}

.third-section {
    height: 33vh;
    background-color: rgba(251, 251, 251, 0.83);
}

legend {
    margin-top: 20px;
    font-size: 1.5vw;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 50px;
}

.form-row {
    display: flex;
    flex-direction: row;
    font-size: 0.8vw;
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 50px;
}

button {
    margin-left: 50px;
    margin-top: 50px;
    width: 14vw;
    height: 5.5vh;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(70, 166, 214);
    font-size: 1vw;
    font-weight: bold;
    font-family: sans-serif;
}
button:hover {
    cursor: pointer;
}

.already {
    margin-left: 50px;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 1vw;
}

.log-in {
    font-family: sans-serif;
    font-size: 1vw;
    font-weight: bold;
    color: rgb(70, 166, 214);

}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"],
.form-row input[type="password"] {
    width: 16vw;
    height: 3vh;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    background-color: rgba(251, 251, 251, 0.83);
}

.fn, .ln, .mail, .pn, .pw, .cpw {
    display: flex;
    flex-direction: column;
    margin-right: 75px;
}



