@font-face {
    font-family: "abrilfatface";
    src: url("fonts/abrilfatface-regular-webfont.woff2") format("woff2"),
         url("fonts/abrilfatface-regular-webfont.woff") format("woff");
         font-weight: normal;
         font-style: normal;
}

.left {
    background-image: url("img/background.jpg");
    width: 30vw;
    background-size: cover;
    
}

h1 {
    font-family: "abrilfatface";
    color: white;
    font-size: 3vw;
}

.odin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    margin-top: 150px;
}

.photo-by {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1vw;
    margin-top: 28vw;
}

.logo {
    width: 5vw;
    height: auto;
}

body {
    padding: 0;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.right {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.first-section {
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1.5vw;
    flex-direction: column;
    background-color: rgba(251, 251, 251, 0.83);
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 50px;

}

.second-text {
    margin-top: 20px;
}


