@font-face {
    font-family: "abrilfatface";
    src: url("fonts/abrilfatface-regular-webfont.woff2") format("woff2"),
         url("fonts/abrilfatface-regular-webfont.woff") format("woff");
         font-weight: normal;
         font-style: normal;
}

.page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url("img/background.jpg");
    width: 35vw;
    background-size: cover;
    
}


